<div class="btn-group btn-group-categories" role="group" aria-label="...">
  <a href="dataset?q=Sea+Ice" class="btn btn-categories">Sea Ice</a>
  <a href="dataset?q=Oceans" class="btn btn-categories">Oceans</a>
  <a href="dataset?q=Basemaps" class="btn btn-categories">Basemaps</a>
  <a href="dataset?q=Wind" class="btn btn-categories">Wind</a>
  <a href="dataset?q=Permafrost" class="btn btn-categories">Permafrost</a>
  <a href="dataset?q=Vegetation" class="btn btn-categories">Vegetation</a>
  <a href="dataset?q=Airports" class="btn btn-categories">Airports</a>
  <a href="dataset?q=Migration" class="btn btn-categories">Migration</a>
</div>
